<h1>users/show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<h1>ログインして開く最初のページ</h1>
<div>
  <%= render 'books/new', books: @books, book: @book, user: @user %>
</div>
<h2>Books</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @books.each do |book| %><!--eachメゾットについて復習しましょう-->

      <tr>
        <td>
          <%= image_tag book.user.get_profile_image(100,100) %>
        </td>
        <td>
          <span><%= link_to book.title, book_path(book.id) %></span>
        </td>
        <td>
          <span><%= book.body %></span>
        </td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>